<header>
  <div class="content-top">
    <div class="logo">
      <img src="../../../assets/logo-vans.png" alt="Logo vans"/>
    </div>

    <div class="div-center-header">
      <input type="text" placeholder="SEARCH..."/>
      <ul>
        <li>REST OF EUROPE <mat-icon>keyboard_arrow_down</mat-icon></li>
        <li>STORE LOCATOR <mat-icon>location_on</mat-icon></li>
        <li>HELP <mat-icon>help</mat-icon></li>
        <li>LOGIN <mat-icon>login</mat-icon></li>
        <li>REGISTER <mat-icon>how_to_reg</mat-icon></li>
      </ul>
    </div>

    <div class="shopping-basket">
      <mat-icon style="color: red;">shopping_cart</mat-icon>
    </div>
  </div>

  <div class="content-bottom">
    <ul>
      <li>MEN</li>
      <li>WOMEN</li>
      <li>KIDS</li>
      <li>NEW ARRIVALS</li>
      <li>SKATE</li>
      <li>LATEST</li>
      <li>#HOUSEOFVANS</li>
    </ul>
  </div>
</header>
